# Merge into the Flutter plugin ios/cliqit.podspec (name may differ).
# Point: compile SDK Classes + CliqitPlugin together. No XCFramework.

Pod::Spec.new do |s|
  s.name             = 'cliqit'
  s.version          = '0.0.1'
  s.summary          = 'CliqIt Flutter plugin'
  s.homepage         = 'https://github.com/mindrootstech/CliqIt'
  s.license          = { :type => 'Copyright' }
  s.author           = { 'MindRoots' => 'info@mindroots.com' }
  s.source           = { :path => '.' }
  s.source_files     = 'Classes/**/*.swift'
  s.dependency 'Flutter'
  s.platform = :ios, '15.0'
  s.swift_version = '5.0'
  s.pod_target_xcconfig = { 'DEFINES_MODULE' => 'YES' }
end
